@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import '../../../../scss/colors.scss';
@import '../../../../scss/mixins.scss';

:host {
  -webkit-font-smoothing: antialiased !important;
}

h1 {
  font-size: 2.8rem;
  letter-spacing: -0.13rem;
}
$width: 100vw;
$height: 100vh;
$statusBarHeight: 30px;
.drawer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // padding-top: $statusBarHeight;

  overflow-x: hidden;
  overflow-y: scroll; 

  background-color: #f5f5f5c7;
  backdrop-filter: blur(4px);

  .drawer-content {
    height: calc($height - $statusBarHeight);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 5%;

    .title-area {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
      // Close btn
      a {
        .material-icons {
          font-size: 2.8rem;
          color: $blood-orange-regular;
        }

        &:active {
          .material-icons {
            color: black;
          }
        }
      }
    }

    .menu-area {
      min-height: 40vh;
    }

    .toggle-area {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      height: 5rem;
      padding-left: 5%;
      padding-right: 5%;
      border-radius: 6px;
      box-shadow: -3px -3px 10px white,
                  3px 3px 12px rgba(0, 0, 0, 0.129);
      
      .toggle-group {
        width: fit-content;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        app-toggle {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }
        .material-icons {
          font-size: 2rem;
        }
      }
    }
  }

  &.is-dark {
    background-color: $midnight-dark;
    background-image: linear-gradient(to bottom right, rgb(14, 14, 15), $midnight-dark);
    color: $steel-light;

    .drawer-content {

      .toggle-area {
        background-image: linear-gradient(to bottom right, $midnight-dark, rgb(19, 19, 19));
        box-shadow: -3px -3px 12px rgba(255, 255, 255, 0.079),
        3px 3px 12px black;
        // border: 1px solid $midnight-dark;

        .toggle-group {
          .material-icons {
            color: $soot-grey-dark;
          }
        }
      }
    }
  }
}