<div class="login">
  <div class="login-content">
    <div class="left-block">
      <div class="brand-block">
        <i class="material-icons">auto_stories</i>
        <span>RiReader</span>
      </div>
      <div class="left-block-content">

        <div class="login-register-card">
          <div
            class="title-area"
            [style.margin-bottom]="loginMode ? '' : '1.5rem'">
            <ng-container *ngIf="loginMode;else signUpTitle">
              <span>
                Login w/ Magic Link 🔗 <br> Sent via Email
              </span>
            </ng-container>
            <ng-template #signUpTitle>
              <span>
                Create New Account <br> with Email & Password
              </span>
            </ng-template>
          </div>

          <div class="form-area">
            <!-- EMAIL FIELD -->
            <div class="form-group">
              <input
                placeholder="Email"
                name="email"
                [(ngModel)]="email"
                type="text">
            </div>

            <!-- PASSWORD FIELD -->
            <ng-container *ngIf="!loginMode">
              <div class="form-group">
                <input
                  [(ngModel)]="password"
                  placeholder="Password"
                  name="password"
                  (focusout)="checkPasswords()"
                  [type]="showsPassword ? 'text' : 'password'"
                  >

                  <a class="show-password-button" (click)="showsPassword = !showsPassword">
                    <i class="material-icons">
                      {{ showsPassword ? 'visibility' : 'visibility_off' }}
                    </i>
                  </a>
              </div>
            </ng-container>

            <ng-container *ngIf="!loginMode">
              <div class="form-group">
                <input
                  name="passwordCheck"
                  [(ngModel)]="passwordCheck"
                  placeholder="Confirm password"
                  (focusout)="checkPasswords()"
                  [type]="showsPassword ? 'text' : 'password'">

                  <a class="show-password-button" (click)="showsPassword = !showsPassword">
                    <i class="material-icons">
                      {{ showsPassword ? 'visibility' : 'visibility_off' }}
                    </i>
                  </a>
              </div>
            </ng-container>

            <a
              [ngClass]="invalidPassword ? 'login-button disabled' : 'login-button'"
              (click)="onSubmit()">
              {{ loginMode ? 'Send Magic Link' : 'Create Account' }}
            </a>
          </div>
        </div>

        <div class="toggle-view-block">
          <small>
            {{ loginMode ? 'Not a member? ' : 'Already signed up? ' }}
            <a (click)="loginMode = !loginMode">
              <u>
                {{ loginMode ? 'Sign up here.' : 'Login here.'}}
              </u>
            </a>
          </small>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!isMobile">
      <div class="right-block">
        <img src="../../../assets/img/login/readingPeople.png" alt="">
      </div>
    </ng-container>
  </div>
</div>