@import '../../../scss/mixins.scss';
:host {
    width: 100%;
    height: 100%;
}

.login-register {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;


    .login-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        @include auto-width;
    }

    // Mobile Adjustments
    &.mobile {
        .login-container {
            @include auto-width-mobile;
        }
    }
}