<div class="pt-3">
  <ng-container *ngIf="(ocr.ocrResult$ | async)">
    <div class="flex-row nowrap align-center justify-between pb-2">
      <h6>
        New Passage

        <ng-container *ngIf="(ocr.confirmLength$ | async)">
          <i class="material-icons">checkmark</i>
        </ng-container>
      </h6>

      
      <a (click)="onClear()" class="edit-button">
        Edit Text
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="(ocr.ocrResult$ | async);else placeholderText">
    <span>
      {{ (ocr.ocrResult$ | async) }}
    </span>
  </ng-container>

  <ng-template #placeholderText>
    <span>
      Results will appear here...
    </span>
  </ng-template>
</div>