<app-top-nav
  [showsInputField]="false"
  [titleText]="viewTitle"
  >
</app-top-nav>

<div [class]="viewClass">
  <div class="capture-content">
    <quill-editor
      [modules]="modules"
      [(ngModel)]="passageText"
      [styles]="{height: '200px'}"
      >
    </quill-editor>

    <br><br>
    <app-accordion
      [summaryTitle]="'Preview Passage'"
      [isOpen]="true">
      <div class="accordion-content" accordionContent>
        <div class="inner-html-wrapper">
          <div [innerHTML]="passageText"></div>
        </div>
      </div>
    </app-accordion>
  </div>
</div>
