@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/variables.scss';

:host {
  -webkit-font-smoothing: antialiased !important;
}
.books {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  @include style-bg('light');

  .books-content {
    @include auto-width;
  }

  /* -------------------------------------------------------------------------- */
  /*                                   MOBILE                                   */
  /* -------------------------------------------------------------------------- */
  &.mobile {
    .books-content {
      @include auto-width-mobile;
    }
  }
  /* -------------------------------------------------------------------------- */
  /*                                  DARK MODE                                 */
  /* -------------------------------------------------------------------------- */
  &.dark {
    @include style-bg('dark');
    color: $steel-regular;
  }

}
