@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';

:host { -webkit-font-smoothing: antialiased !important; }


$bar-height: 60px;
$bar-width: 100vw;
$content-width: 90vw;

.top-bar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $bar-height;
  
  /* --------------------------- MAIN WRAPPER STYLE --------------------------- */
  .main-wrapper {
    height: $bar-height;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    .title-area {
      span {
        height: $bar-height;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
        padding-top: 0.5rem;
      }
    }
    a {
      height: $bar-height;
      display: inline-flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      &:active {
        color: $blood-orange-medium;
      }
    }
  }

  .context-wrapper {
    height: $bar-height;
    width: $bar-width;
    .content-area {
      height: $bar-height;
      width: $bar-width;
      margin: auto;
      position: relative;
      .bar-btn {
        height: $bar-height;
        width: $bar-height;
        display: inline-flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        .material-icons { font-size: 1.8rem; }

        &.right {
          color: $accent-grey;
        }
        &:active {
          .material-icons {
            color: $blood-orange-regular;
          }
        }
      }
      .title {
        display: inline-flex;
        font-size: 2.4rem;
        font-weight: 600;
        width: calc($bar-width - ($bar-height * 2));

        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.top-bar-wrapper.is-dark {
  color: $steel-light;
  a {
    .material-icons {
      color: $blood-orange-medium;
    }

    &.bar-btn {
      .material-icons {
        color: $steel-light;
      }
    }
  }
}