@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import '../scss/variables.scss';

:host {
  padding-bottom: $bottom-bar-height;
}

.hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}