<ng-container *ngIf="(loading.isLoading$ | async)">
  <app-loading-overlay></app-loading-overlay>
</ng-container>
<div #scrollToTopDiv></div>
<input
  class="hidden-input"
  accept="image/*"
  (change)="onFileSelect($event)"
  type="file"
  id="fileUploader"
  #addPassageElement
  >

<div [ngClass]="(theme.isDark$ | async) ? 'wrapper is-dark' : 'wrapper'">
  <app-top-nav
    [actionButton]="captureButton"
    (actionButtonClick)="onReaderTrigger($event)"
    [titleText]="titleText"
    (keydown)="onInputType($event)"
    (enterDown)="onSearchEnter($event)"
    >
  </app-top-nav>
  <router-outlet (activate)="onRouteActivation()"></router-outlet>
  <app-bottom-nav
    [buttons]="routerLinks"
    (buttonClick)="onMobileBottomBarClick($event)">
  </app-bottom-nav>
</div>
