@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import '../../../../scss/colors.scss';
@import '../../../../scss/mixins.scss';

:host { -webkit-font-smoothing: antialiased !important; }

$wrapper-height: 2.2rem;
$handle-width: 2.5rem;
.toggle-wrapper {
  .toggle-container {
    display: block;
    height: $wrapper-height;
    width: calc($handle-width * 2);
    background-image: linear-gradient(to bottom right, #efefef, #dbdee3);
    border-radius: $wrapper-height;
    transition: 300ms ease-in;
    .toggle-handle {
      height: $wrapper-height;
      width: $handle-width;
      background-color: white;
      border-radius: $wrapper-height;
      background-image: linear-gradient(to bottom right, white, #F5F5F5);
      box-shadow: 2px 4px 12px $steel-regular;
    }

    &.on-bg {
      background-image: linear-gradient(to bottom, $blood-orange-dark, $blood-orange-regular);

      .toggle-handle {
        box-shadow: 2px 4px 12px black;
        background-color: black;
        background-image: linear-gradient(to bottom right, $soot-grey-dark, $midnight-dark, black);
      }
    }
  }
}
