<div class="top-nav">
  <ng-container *ngIf="isLargeBar;else shortNav">
    <div class="top-nav-content">
      <!-- -------------------- USER AVATAR AND "ADD" BUTTON --------------------- -->
      <div class="user-action-block"> 
        <a
          (click)="onAvatarClick($event)"
          class="user-avatar">
          <img [src]="userImage" alt="">
  
          <ng-container *ngIf="badge.state">
            <div class="badge"></div>
          </ng-container>
        </a>
  
        <div class="action-button" #actionButtonRect>
          <a (click)="onActionClick($event, actionButton.target)">
            <i class="material-icons">
              {{ actionButton.icon }}
            </i>
          </a>
        </div>
      </div>
  
      <!-- ------------------------------ GREETINGS ------------------------------ -->
      <div class="greeting-block">
        <h1>
          {{ titleText }}
        </h1>
      </div>
  
      <!-- ---------------------------- OTHER OPTIONS ---------------------------- -->
      <div class="other-actions-block">
        <div class="input-field-wrapper">
  
          <!--Search field-->
          <div class="form-group">
  
            <input
              (keydown.enter)="onEnter()"
              (keyup)="onEnter()"
              [(ngModel)]="searchText"
              [placeholder]="input.placeholder"
              (focus)="onInputFocusToggle('typing')"
              (focusout)="onInputFocusToggle('done')"
              (keydown)="onEnter()"
              type="text"
              >
            <div class="prefix-icon">
              <i
                [ngClass]="inputFocused ? 'material-icons focused' : 'material-icons'" id="searchPrefix">
                {{ input.prefixIcon }}
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #shortNav>
    <div class="short-nav">
      <div class="short-nav-content">
        <a class="user-image">
          <img [src]="userImage" alt="">
        </a>

        <div class="form-group">
          <input
            type="text">
        </div>

        <div class="action-button">
          <a (click)="onActionClick($event, actionButton.target)">
            <i class="material-icons">
              {{ actionButton.icon }}
            </i>
          </a>
        </div>
      </div>
    </div>
  </ng-template>
</div>