@import '/node_modules/@riapacheco/yutes/main.scss';
@import '/node_modules/@riapacheco/yutes/season/two.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../src/scss/mixins.scss';

* {
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box !important;
  &::-webkit-scrollbar { display: none !important; }
}

html, body {
  font-family: "Inter", sans-serif;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased !important;

}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
}
.wrapper {
  background-color: #F5F5F5;
  background-image: linear-gradient(to bottom right, #F5F5F5, white);
  background-attachment: fixed;
  &.is-dark {
    background-image: linear-gradient(to bottom right, black, $midnight-dark);
    color: $steel-light;
  }
}
/* -------------------------------------------------------------------------- */
/*                        GLOBAL CHANGES FROM VIEWPORT                        */
/* -------------------------------------------------------------------------- */
.view {
  &.mobile {

    /* ------------------------ Standard Text Adjustments ----------------------- */
    @include mobile-text('body');
    h1 { @include mobile-text('h1'); }
    h2 { @include mobile-text('h2'); }
    h3 { @include mobile-text('h3'); }
    h4 { @include mobile-text('h4'); }
  }
}

/* --------------------------------- SPECIAL -------------------------------- */
// Wrapper on elements with innerHTML directive
.inner-html-wrapper {
  width: 100%;
  -webkit-font-smoothing: antialiased !important;

  &.mobile-toolbar-title { // menu component
    color: $blood-orange-regular;
    h1 {
      font-size: 2.9rem;
      letter-spacing: -0.15rem;
      font-weight: 600;
    }
    display: flex;
    flex-flow: row nowrap !important;

    .material-icons {
      font-size: 2.95rem;
      margin-right: 1.3rem;
    }
  }
}

.form-group {
  input {
    background-color: $blood-orange-medium;
  }
}

.divider {
  width: 100%;
  height: 5px;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.294);
  border-radius: 4px;
}
/* -------------------------------------------------------------------------- */
/*                                   Z-INDEX                                  */
/* -------------------------------------------------------------------------- */

$base-index: 2;

app-root { z-index: calc($base-index / 2); }

app-top-bar,
app-bottom-bar {
  z-index: calc($base-index * 3);
}
#menuButton {
  z-index: calc($base-index * 4);
}
app-drawer-menu,
.drawer-wrapper {
  z-index: calc($base-index * 5);
}