
$bottom-bar-height: 90px;
$status-bar-height: 45px; // most round # between ios and android

/* --------------------------------- TOP NAV -------------------------------- */
$full-top-nav-height: 210px;
$medium-top-nav-height: 160px;

/* -------------------------------- CONTROLS -------------------------------- */
$input-height: 40px;