<ng-container *ngIf="isMobile;else desktopMenu">
  <div class="mobile-toolbar-wrapper">
    <ng-container *ngIf="config.leftButton.target">
      <div class="action">
        <a (click)="onLeftClick(config.leftButton.target)">
          <i class="material-icons">
            {{ config.leftButton.icon }}
          </i> 
        </a>
      </div>
    </ng-container>

    <a
      [ngClass]="config.title.canClick ? 'title inner-html-wrapper mobile-toolbar-title' : 'title inner-html-wrapper mobile-toolbar-title no-click'"
      (click)="onTitleClick(config.title.clickTarget)"> <!--impacted by styles.scss: inner-html-wrapper-->
      <ng-container *ngIf="config.title.icon">
        <i class="material-icons">
          {{ config.title.icon }}
        </i>
      </ng-container>
      <div [innerHTML]="config.title.text"></div>
    </a>

    <ng-container *ngIf="config.rightButton.target">
      <div class="action">
        <a (click)="onRightClick(config.rightButton.target)">
          <i class="material-icons">
            {{ config.rightButton.icon }}
          </i>
        </a>
      </div>
    </ng-container>
  </div>

  <div class="mobile-menu-wrapper" [@menuTrigger]="showsMobileMenu ? 'open' : 'close'">
    <div class="top-block">
      <div class="top-block-content">
        <h1>
          Navigate
        </h1>

        <a (click)="showsMobileMenu = !showsMobileMenu">
          <i class="material-icons">close</i>
        </a>
      </div>
    </div>
    
    <div class="options-list">
      <ng-container *ngFor="let option of menuOptions">
        <a class="menu-option">
          <ng-container *ngIf="option.icon">
            <div class="icon">
              <i class="material-icons">
                {{ option.icon }}
              </i>
            </div>
          </ng-container>
          
          <h2>{{ option.label }}</h2>
        </a>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #desktopMenu>
  Desktop
</ng-template>