@import 'node_modules/@riapacheco/yutes/season/two.scss';
@import '../../../scss/mixins.scss';

:host { -webkit-font-smoothing: antialiased !important; }

/* -------------------------------------------------------------------------- */
/*                               MOBILE TOOLBAR                               */
/* -------------------------------------------------------------------------- */
/* ---------------------------------- VARS ---------------------------------- */
$toolbar-height: 72px;
$button-width: 60px;
$toolbar-width: 100vw;

/* --------------------------------- WRAPPER -------------------------------- */
.mobile-toolbar-wrapper {
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.379));
  min-height: $toolbar-height;
  max-height: $toolbar-height;
  height: $toolbar-height;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  @include remove-selection;  

  /* ------------------------------ BOTH BUTTONS ------------------------------ */
  .action {
    height: inherit;
    width: $button-width;
    height: $toolbar-height;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    .material-icons {
      line-height: $toolbar-height;
      display: inline-block;
      height: fit-content;
      width: fit-content;

      color: $midnight-medium;
      color: $soot-grey-dark;
    }

    &:active {
      .material-icons {
        color: $cbt-teal;
      }
    }
  }

  /* ------------------------------- MAIN TITLE ------------------------------- */
  .title {
    -webkit-font-smoothing: antialiased !important;
    width: calc($toolbar-width - ($button-width*2));

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    line-height: $toolbar-height;

    pointer-events: auto;

    &.no-click {
      pointer-events: none;
    }
  }
}

/* ---------------------------------- MENU ---------------------------------- */
$mobile-menu-width: 90%;
$top-block-height: 70px;
.mobile-menu-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: black;

  .top-block {
    width: 100%;
    height: $top-block-height;
    margin-bottom: 2.5rem;
    .top-block-content {
      height: inherit;
      width: $mobile-menu-width;
      margin: auto;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-size: 2.9rem;

      }
    }
  }

  .options-list {
    width: calc($mobile-menu-width - 2rem);
    margin: auto;
    .menu-option {
      height: 3rem;
      line-height: 3rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;

      margin-bottom: 2.5rem !important;
      
      .icon {
        height: inherit;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        margin-right: 1.8rem;
        .material-icons {
          font-size: 2.1rem;
        }
      }

      h2 {
        font-size: 2.4rem;
        font-weight: 600;
      }
    }
  }
}